In [9]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
sns.set(style='whitegrid')

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA, TruncatedSVD
from sklearn.metrics import classification_report,confusion_matrix

from collections import defaultdict
from collections import Counter

import re
import string

from tqdm import tqdm

import warnings
warnings.simplefilter('ignore')

In [10]:
df = pd.read_csv("C:\\Users\\savit\\OneDrive\\Desktop\\fa project\\News_Final.csv")

In [11]:
df.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93239 entries, 0 to 93238
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDLink             93239 non-null  float64
 1   Title              93239 non-null  object
 2   Headline           93224 non-null  object
 3   Source             92960 non-null  object
 4   Topic              93239 non-null  object
 5   PublishDate        93239 non-null  object
 6   SentimentTitle     93239 non-null  float64
 7   SentimentHeadline  93239 non-null  float64
 8   Facebook           93239 non-null  int64
 9   GooglePlus         93239 non-null  int64
 10  LinkedIn           93239 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 7.8+ MB

In [14]:
df.info

<bound method DataFrame.info of          IDLink                                              Title  \
0       99248.0   Obama Lays Wreath at Arlington National Cemetery
1       10423.0        A Look at the Health of the Chinese Economy
2       18828.0   Nouriel Roubini: Global Economy Not Back to 2008
3       27788.0                          Finland GDP Expands In Q4
4       27789.0  Tourism, govt spending buoys Thai economy in J...
...         ...                                                ...
93234   61851.0  Stocks rise as investors key in on US economy ...
93235   61865.0  Russian PM proposes to use conservative and to...
93236  104793.0  Palestinian Government Uses Foreign Aid To Pay...
93237  104794.0  Palestine Youth Orchestra prepares for first U...
93238   61870.0  Sausalito businesswoman wins $10000 in Microso...

                                                Headline  \
0      Obama Lays Wreath at Arlington National Cemete...
1      Tim Haywood, investment director business-unit...
2      Nouriel Roubini, NYU professor and chairman at...
3      Finland's economy expanded marginally in the t...
4      Tourism and public spending continued to boost...
...                                                  ...
93234  The June employment report is viewed as a cruc...
93235  In addition, establish stimulating economic po...
93236  The Palestinian government spends nearly $140 ...
93237  Palestine Youth Orchestra prepares for first U...
93238  Goldstein, the proprietor of the TG Travel Gro...

                                         Source      Topic  \
0                                     USA TODAY      obama
1                                     Bloomberg    economy
2                                     Bloomberg    economy
3                                      RTT News    economy
4      The Nation - Thailand&#39;s English news    economy
...                                         ...        ...
93234                               MarketWatch    economy
93235                                      TASS    economy
93236                              Daily Caller  palestine
93237                              Ahram Online  palestine
93238                            East Bay Times  microsoft

               PublishDate  SentimentTitle  SentimentHeadline  Facebook  \
0      2002-04-02 00:00:00        0.000000          -0.053300        -1
1      2008-09-20 00:00:00        0.208333          -0.156386        -1
2      2012-01-28 00:00:00       -0.425210           0.139754        -1
3      2015-03-01 00:06:00        0.000000           0.026064        -1
4      2015-03-01 00:11:00        0.000000           0.141084        -1
...                    ...             ...                ...       ...
93234  2016-07-07 15:31:05        0.104284           0.044943        -1
93235  2016-07-07 15:31:10        0.072194           0.000000        -1
93236  2016-07-07 15:38:26        0.291667          -0.139754         5
93237  2016-07-07 15:59:22        0.121534           0.092313         0
93238  2016-07-07 16:16:11        0.000000           0.054554        -1

       GooglePlus  LinkedIn
0              -1        -1
1              -1        -1
2              -1        -1
3              -1        -1
4              -1        -1
...           ...       ...
93234           3         5
93235           0         1
93236           1         0
93237           0         0
93238           1         0

[93239 rows x 11 columns]>

In [15]:
df.shape

(93239, 11)